@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --clr-black: #000000;
    --clr-white: #FFFFFF;
    --clr-green: #32B72F;
    --clr-header: #CF2B2B;
    --clr-bg: #E5E5E5;
    --clr-bold: #333333;
    --clr-gray: #A6A6A6;
    --clr-btn: #CBCBCB;
    --fnt-righteous: 'Righteous', cursive;
    --fnt-roboto: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--clr-bg);
    max-width: 414px;
    margin: 0 auto;
}

.scroll {
    overflow: hidden;
}

p, h6 {
    font-family: var(--fnt-roboto);
}


h2, h4 {
    font-family: var(--fnt-righteous);
}

p {
    font-size: 0.938rem;
    color: var(--clr-gray);
    line-height: 1.1rem;
    font-weight: 300;
}

h2 {
    color: var(--clr-white);
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 3.37rem;
}

h4 {
    color: var(--clr-bold);
    font-size: 1.625rem;
    font-weight: 400;
    line-height: 2rem;
    margin: 31px 0 17px 19px;
}

h6 {
    font-size: 1rem;
    color: var(--clr-bold);
    font-weight: 700;
    line-height: 1.125rem;
    padding: 8px 0;
}

header {
    position: sticky;
    z-index: 1;
    width: 414px;
    background-color: var(--clr-header);
    height: 92px;
    top: 0;
    left: 0;
    padding: 5px 0 0 21px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.3);
}

header > p {
    color: var(--clr-white);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}

main > div {
    width: 100%;
}

.list {
    width: 100%;
    display: flex;
    padding: 0 19px;
    column-gap: 10px;
    overflow-x: scroll;
}

.item-box {
    position: relative;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 216px;
    border-radius: 9px;
}

img.check {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
}

.check-remove {
    display: none;
}

.item-box * {
    width: 144px;
}

.price-style {
    color: var(--clr-black);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
    padding-top: 12px;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: var(--clr-white);
    width: 100%;
    height: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

footer > div {
    background-color: var(--clr-btn);
    width: 364px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}

footer > div > p {
    color: var(--clr-white);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.465rem;
    letter-spacing: .04rem;
}

.food-selected {
    border: 5px solid var(--clr-green);
}

.drink-selected {
    border: 5px solid var(--clr-green);
}

.dessert-selected {
    border: 5px solid var(--clr-green);
}

.btn-green {
    background-color: var(--clr-green);
    cursor: pointer;
}

.finish-order {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9);
    max-width: 414px;
    height: 100vh;
    bottom: 0;
}

.finish-order > div {
    background-color: rgba(80, 208, 116, 1);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 377px;
    height: 353px;
    border-radius: 9px;
}

.confirm-order > h6 {
    display: inline-block;
    padding: 21px 0 28px 0;
    font-size: 1.275rem;
    color: var(--clr-white);
}

.order-description {
    display: flex;
    justify-content: space-between;
    width: 327px;
    height: 147px;
    display: flex;
}

.order-description > div:nth-child(2){
    display: flex;
    align-items: flex-end;
}

.order-description > div {
    display: flex;
    flex-direction: column;
    row-gap: 22px;
}

.order-description p {
    font-size: 1.1rem;
    color: var(--clr-white);
}

.order-description > div > h6 {
    color: var(--clr-white);
    font-size: 1.250rem;
}

.order-btn {
    background-color: rgba(255, 255, 255, 1);
    border: 0;
    width: 329px;
    height: 52px;
    border-radius: 50px;
    margin: 20px 0 8px 0;
    font-family: var(--fnt-roboto);
    color: rgba(80, 208, 116, 1);
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.cancel-order {
    color: var(--clr-white);
    background-color: rgba(80, 208, 116, 1);
    width: 329px;
    height: 52px;
    border: 0;
    font-size: 1.1rem;
    font-weight: 700;
    cursor: pointer;
}

.hidden {
    display: none;
}